@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

@theme {
  /* primary background color  */
  --color-global-bg: #F5EDDC;
  --color-primary: #95321C;
  --color-gray: #8080804F;
  --color-gray-bg: #999999;
  --color-success: #27AE60;
  --color-dash-brown: #C4773BDE;
  --color-highlight-green: #4A7C2A;
}

.btn-primary {
  @apply bg-[#4A7C2A] hover:bg-[#3A6C1A] text-white font-semibold py-3 px-5 rounded-lg transition-all duration-150 focus:outline-none focus:ring-2 focus:ring-[#4A7C2A] focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed;
}
.banner-primary {
  @apply bg-[#4A7C2A] hover:bg-[#3A6C1A] text-white font-semibold py-12 px-5 rounded-lg transition-all duration-150 focus:outline-none focus:ring-2 focus:ring-[#4A7C2A] focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #854f1d;
  border-radius: 50%;
  display: grid;
  background: 
    conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
    -4px -4px/calc(50% + 2px) calc(50% + 2px),
    radial-gradient(farthest-side,currentColor 6px,#0000 7px calc(100% - 6px),currentColor calc(100% - 5px)) no-repeat;
  animation: l10 2s infinite linear;
  position: relative;
}
.loader:before {
  content: "";
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
@keyframes l10 {to{transform: rotate(.5turn)}}

/* textloading */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease-out both;
}

.animate-fade-in-up {
  animation: fadeInUp 0.7s ease-out both;
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-500 {
  animation-delay: 500ms;
}